:root {
  --color-background-light: #ffffff;
  --color-text-light: #333333;
  /* Пастельные цвета (светлая тема) */
  --color-pastel-pink-light: #FFD1DC;
  --color-pastel-green-light: #a8e6cf;
  --color-pastel-purple-light: #E6E6FA;
  --color-pastel-green-light: #B2F0C4;
  --color-pastel-yellow-light: #FFFFB5;
}

:root.dark {
  --color-background-dark: #1a1a2e;
  --color-text-dark: #e0e0e0;
  /* Пастельные цвета (темная тема) - могут быть немного насыщеннее или другими оттенками */
  --color-pastel-pink-dark: #FF9AAD;
  --color-pastel-green-dark: #7fb069;
  --color-pastel-purple-dark: #B57EDC;
  --color-pastel-green-dark: #77DD77;
  --color-pastel-yellow-dark: #FFDAA3;
}

body {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}
 